<!doctype html>
<html>
	<head>
		<title>No autentificado</title>
	</head>
	<body>
		<div> <%- message %> </div>
		<div>
			<ul>
				<li> <a href="/login">Sign in</a> </li>
				<li> <a href="/content">Acceder al contenido</a></li>
				<li> <a href="/registrar">Registrar</a> </li>
			</ul>
		</div>
	</body>
</html>
