<h1>Registrar</h1>
Accediendo al <a href="/content">contenido</a>
<form method="post" action="/registrar">
  <p>
    <label>Username:</label>
    <input type="text" name="username">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>
